<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <div>
    <h5>Details about website</h5>
    <h3>Developer 1</h3>
    <h5>Name : {{name}}</h5>
    <h5>Mobile No : {{mobileno}}</h5>
    <h5>Location : {{location}}</h5>
    <h3>Developer 2</h3>
    <h5>Name : {{name1}}</h5>
    <h5>Mobile No:{{mobileno1}}</h5>
    <h5></h5>Location : {{location1}}</h5>
    </div>
    {{>footer}}
</body>
</html>