<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/result.png">
    <title>donar's data</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kavivanar&family=Podkova&display=swap" rel="stylesheet">
    
</head>
<body>
    {{>header}}
    <div class="main-content">
    <h6>Donar lists:</h1>
        <div id="box">
            <table>
                <tr>
                    <td>Name:</td><td>{{dnr1.dnr_name}}</td>
                </tr>
                <tr>
                    <td>Blood group:</td><td>{{dnr1.bld_grp}}</td>
                </tr>
                <tr>
                    <td>Phone:</td><td>{{dnr1.mob_num}}</td>
                </tr>
                <tr>
                    <td>Taluk:</td><td>{{dnr1.dnr_taluk}}</td>
                </tr>
            </table>
        </div>
        <div id="box">
             <table>
                <tr>
                    <td>Name:</td><td>{{dnr2.dnr_name}}</td>
                </tr>
                <tr>
                    <td>Blood group:</td><td>{{dnr2.bld_grp}}</td>
                </tr>
                <tr>
                    <td>Phone:</td><td>{{dnr2.mob_num}}</td>
                </tr>
                <tr>
                    <td>Taluk:</td><td>{{dnr2.dnr_taluk}}</td>
                </tr>
            </table>
        </div>
    </div>
    {{>footer}}
</body>
</html>