<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="icon" href="/img/icon.png">
    <title>donor's data</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kavivanar&family=Podkova&display=swap" rel="stylesheet">
    
</head>
<body>
    {{>header}}
    <div class="main-content">
        <section>
            
            <div class="container">
                <h2 style="font-size: 2.2em;">Donar lists:</h2>
                <div class="col space">
                    <div class="card">
                        <div class="card-body">
                            <table>
                                <tr><td>Name:</td><td>{{dnr1.dnr_name}}</td></tr>
                                <tr><td>Blood group:</td><td>{{dnr1.bld_grp}}</td></tr>
                                <tr><td>Phone:</td><td>{{dnr1.mob_num}}</td></tr>
                                <tr><td>Taluk:</td><td>{{dnr1.dnr_taluk}}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col space">
                    <div class="card">
                        <div class="card-body">
                            <table>
                                <tr><td>Name:</td><td>{{dnr1.dnr_name}}</td></tr>
                                <tr><td>Blood group:</td><td>{{dnr1.bld_grp}}</td></tr>
                                <tr><td>Phone:</td><td>{{dnr1.mob_num}}</td></tr>
                                <tr><td>Taluk:</td><td>{{dnr1.dnr_taluk}}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{>footer}}
</body>
</html>